@import './scss/reset.scss';
@import './scss/slick.scss';
@import './scss/slick-theme.min.scss';
@import './scss/primeReact.scss';

body {
  background: #fff;
  .contentView {
    .gitexContainer {
      padding-top: 32px;
      position: relative;
    }
  }
}

header {
  position: relative;
  padding-top: 32px;
  background: #fff;
  .logos {
    display: block;
    position: relative;
    margin: 32px 70px;
    height: 35px;
    margin-top: 0;
  }
  .logos > div {
    position: absolute;
    top: 0;
  }
  .RTA {
    width: 245.81px;
    height: 48px;
    background: url('../content/images/RTA_Logo.svg') no-repeat;
    right: 0;
  }
  .Dubai {
    width: 110px;
    height: 48px;
    background: url('../content/images/Dubai_Logo.svg') no-repeat;
    left: 0;
  }
  .menu {
    height: 50px;
    background: #ee0000;
    padding: 10px 70px 0 70px;
    position: relative;
    .home {
      background: url('../content/images/home.svg') no-repeat;
      width: 31px;
      height: 31px;
      display: inline-block;
      background-size: 100%;
      margin-left: 55px;
    }
    .switchLanguage {
      display: inline-block;
      color: #fff;
      font: 1.2em/30px 'RTA-Light';
      cursor: pointer;
      position: absolute;
      right: 70px;
    }
  }
}

.backAction {
  width: 30px;
  height: 30px;
  background: url('../content/images/Back.svg') no-repeat;
  cursor: pointer;
  position: absolute;
  top: -38px;
  left: 70px;
  background-size: 100%;
}

.btnAction {
  background: #171c8f;
  font: 1.2em/24px 'RTA';
  color: #fff;
  padding: 24px 16px 16px 16px;
  display: inline-block;
  cursor: pointer;
  margin-top: 32px;
  text-decoration: none !important;
  min-width: 190px;
  &:hover {
    color: #fff;
  }
}

.movingDubai {
  text-align: center;
  padding-top: 16%;
  h1 {
    font: 4em/70px 'RTA-Light';
    color: #222222;
    margin-bottom: 16px;
  }
  h3 {
    font: 2.5em/40px 'RTA-Light';
    color: #222222;
    margin-bottom: 16px;
  }
}

.userForm {
  text-align: left;
  padding: 96px 20% 0 20%;
  label {
    font: 2em/40px 'RTA-Light';
    color: #222222;
    display: block;
    text-align: left;
    padding-bottom: 8px;
  }
  input {
    width: 100%;
    border: 0.5px solid #d7d7d7;
    background: #fbfbfb;
    font: 1.3em/25px 'RTA-Light';
    color: #222222;
    height: 50px;
    padding: 6px 16px 0 16px;
    border-radius: 4px;
    height: 65px;
    &:focus {
      border-color: #171c8f;
      box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 19%);
      -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 19%);
      -moz-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 19%);
    }
  }
  .p-autocomplete {
    width: 100%;
  }
  .btnAction {
    display: inline-block;
    text-align: center;
    margin-top: 0;
    padding: 24px 11% 16px 11%;
    min-width: auto;
  }
  &.active {
    .p-autocomplete {
      width: 68%;
    }
  }
}

.p-autocomplete-items {
  border: 0.5px solid #d7d7d7;
  border-top: 0;
  margin-top: 16px;
  background: #fff;
}

.countryItem {
  border-top: 0.5px solid #d7d7d7;
  padding: 8px;
  > span,
  div {
    display: inline-block;
  }
  > span {
    margin: 0 5px;
    border-color: #171c8f;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  }
  > div {
    font: 1em/21px 'RTA-Light';
    color: #222;
  }
}

.takePhoto {
  text-align: center;
  padding: 96px 20% 0 20%;
  .launchCamera {
    border: 0.5px solid #d7d7d7;
    background: #fbfbfb;
    height: 100px;
    padding-top: 30px;
    cursor: pointer;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
    input[type='file' i] {
      width: 100%;
      height: 200px;
      position: absolute;
      top: -100px;
      left: 0;
      cursor: pointer;
    }
    > span {
      color: #171c8f;
      font: 1.3em/21px 'RTA-Light';
      position: relative;
      &:before {
        content: '';
        background: url('../content//images/Camera.svg') no-repeat;
        width: 33px;
        height: 27px;
        display: inline-block;
        position: relative;
        top: 5px;
        right: 10px;
      }
    }
  }
  h1 {
    font: 2.3em/30px 'RTA-Light';
    color: #222222;
    margin-bottom: 32px;
  }
  p {
    font: 1.3em/30px 'RTA-Light';
    color: #333333;
    margin-bottom: 16px;
  }
  .imgProf {
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }
}

.avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 5px;
  cursor: pointer;
  &.large {
    width: 120px;
    height: 120px;
  }
  &._1 {
    background: url('../content/images/avatar/1.svg') no-repeat;
    background-size: 100%;
  }
  &._2 {
    background: url('../content/images/avatar/2.svg') no-repeat;
    background-size: 100%;
  }
  &._3 {
    background: url('../content/images/avatar/3.svg') no-repeat;
    background-size: 100%;
  }
  &._4 {
    background: url('../content/images/avatar/4.svg') no-repeat;
    background-size: 100%;
  }
  &._5 {
    background: url('../content/images/avatar/5.svg') no-repeat;
    background-size: 100%;
  }
  &._6 {
    background: url('../content/images/avatar/6.svg') no-repeat;
    background-size: 100%;
  }
}

.edit {
  color: #171c8f;
  font: 1.3em/21px 'RTA';
  display: inline-block;
  padding: 5px 5px 5px 30px;
  position: relative;
  width: 73px;
  display: block;
  margin: 16px auto;
  cursor: pointer;
  &:before {
    content: '';
    background: url('../content/images/Edit.svg') no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.uploadLicense {
  text-align: center;
  padding: 96px 20% 0 20%;
  h1 {
    font: 2.3em/30px 'RTA-Light';
    color: #222222;
    margin-bottom: 16px;
  }
  p {
    font: 1.5em/21px 'RTA-Light';
    color: #53565a;
    margin-bottom: 32px;
  }
}

.license {
  > div {
    display: inline-block;
    width: 215px;
    height: 157px;
    margin: 0 8px;
    @media only screen and (max-width: 768px) {
      width: 210px;
    }
  }
  .lic_front {
    background: url('../content/images/lic_front.svg') no-repeat;
    background-size: 100%;
  }
  .lic_back {
    background: url('../content/images/lic_back.svg') no-repeat;
    background-size: 100%;
  }
}

.finishLessons {
  text-align: center;
  padding: 96px 20% 0 20%;
  h1 {
    font: 3em/60px 'RTA-Light';
    color: #222222;
    margin-bottom: 16px;
  }
  h3 {
    font: 1.8em/40px 'RTA';
    color: #222222;
    margin-bottom: 32px;
  }
}

.thankYou {
  margin: 0;
  position: relative;
  top: -32px;

  &:before {
    content: '';
    background: #eeeeee;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .profile {
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eeeeee;
    z-index: -1;
    padding: 50px 0 0 70px;
    h3 {
      color: #222;
      font: 1.5em/21px 'RTA';
      margin-bottom: 16px;
    }
    .imgProfile {
      margin: 24px 0;
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
    .profileData {
      > div {
        padding-bottom: 16px;
      }
      label,
      span {
        font: 1.3em/21px 'RTA';
        display: inline-block;
      }
      label {
        color: #53565a;
        padding-right: 8px;
      }
      span {
        color: #222;
        .flag-icon {
          padding-right: 39px;
          display: inline-block;
          background-position: left;
        }
      }
    }
    .license {
      > div {
        display: inline-block;
        width: 45%;
        height: 183px; //157px
        margin: 0 8px 0 0;
      }
    }
  }
  .message {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 100px 70px 0 0;
    text-align: center;
    h1 {
      font: 4em/80px 'RTA-Kight';
      padding: 0 5%;
    }
  }
}

.yourJourney {
  text-align: center;
  padding: 96px 0 0 0;
  // position: relative;
  // right: -110px;
  // left: -110px;
  // .slick-track {
  //   width: 2070px !important;
  // }
  // .slick-slide {
  //   width: 345px !important;
  // }
  h2 {
    color: #222;
    font: 1.5em/30px 'RTA';
  }

  .j_1 {
    background: url('../content/images/journey/1.svg') no-repeat;
  }
  .j_2 {
    background: url('../content/images/journey/2.svg') no-repeat;
  }
  .j_3 {
    background: url('../content/images/journey/3.svg') no-repeat;
  }
  .j_4 {
    background: url('../content/images/journey/4.svg') no-repeat;
  }
  .j_5 {
    background: url('../content/images/journey/5.svg') no-repeat;
  }
  .j_6 {
    background: url('../content/images/journey/6.svg') no-repeat;
  }
  .continue {
    border: 1px solid #171c8f;
    background: url('../content/images/Back_blue.svg') no-repeat center;
    padding-top: 245px;
    text-align: center;
    display: block;
    text-decoration: none !important;
    h3 {
      color: #171c8f;
    }
  }
  .j_1,
  .j_2,
  .j_3,
  .j_4,
  .j_5,
  .j_6,
  .continue,
  .empty {
    width: 225px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    -moz-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    margin: 20px;
    cursor: pointer;
    text-align: left;
    padding: 210px 16px 16px 16px;
    background-size: 100% !important;
    h3 {
      font: 1.5em/30px 'RTA';
      color: #333;
    }
    p {
      font: 0.9em/21px 'RTA';
      color: #333;
    }
  }
  .continue {
    background-size: 30% !important;
    text-align: center;
  }
  .empty {
    box-shadow: none !important;
    background: none !important;
  }
}

.yourLectures {
  text-align: center;
  padding: 96px 0 0 0;
  h2 {
    color: #222;
    font: 1.5em/30px 'RTA';
  }
  .lec,
  .empty {
    transition: all 0.5s;
    width: 225px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    -moz-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 34%);
    margin: 20px;
    cursor: pointer;
    text-align: left;
    padding: 32px 16px 16px 16px;
    background: url('../content/images/\ check.svg') no-repeat center 175px;
    background-size: 0;
    h6 {
      font: 1em/30px 'RTA';
      color: #53565a;
    }
    p {
      font: 1.2em/27px 'RTA';
      color: #333;
      padding-top: 8px;
    }
    &.continue {
      border: 1px solid #171c8f;
      background: url('../content/images/Back_blue.svg') no-repeat center;
      padding-top: 245px;
      text-align: center;
      display: block;
      text-decoration: none !important;
      h3 {
        color: #171c8f;
      }
    }
    &.empty {
      box-shadow: none !important;
      background: none !important;
    }
    &.checked {
      background-size: 90px !important;
    }
  }
}

@import './gitex_ar.scss';
